html {
  font-family: Arial, sans-serif;
  display: table;
  width: 100%;
  text-align: center;
}

body {
  display: table-cell;
  vertical-align: middle;
  background-color: #67AFFF;
}

nav {
  text-align: left;
  background-color: grey;
  padding: 6px;
  border: 2px solid #5c5c5c;
}

h2 {
  color: #FFFFFF;
}

p {
    color: #FFFFFF;
}

a {
    color: black;
} 
